/* Footer
 * ========================================================================== */

.footer-widgets {
  border-top: 1px solid #e5e5e5;
  background: #f2f2f2;
	padding: 4rem 0 0;
}

.footer-widgets .widget-area {
  margin: 4rem auto 2rem;
}

.footer-widgets li {
	margin: 1.5rem 0;
}

.footer-widgets,
.site-footer {
	text-align: center;
}

.site-footer {
  background: #f2f2f2;
	margin: 0;
  padding: 4rem 0;
}

.site-footer p {
	margin-bottom: 0;
}

.after-footer {
    position: fixed;
    bottom: 1em;
    left: 2em;
}